body{
    background-color: rgb(66, 163, 187);
}
.calculadora{
    position: relative;
    color: rgb(121, 106, 185);
    font-size: 20px;
    text-align: center;
    padding: 50px;
    background-color: rgb(127, 216, 92);
    width: 50%;
    margin: 100px;
    border-radius: 10px;

}
.boton{
    background-color: rgb(201, 91, 91);
    border: 0;
    padding: 10px;
    width: 50%;
    margin: 0px;
    border-radius: 5px;
}
footer{
    width: 100%;
    position: relative;
    margin-top: -51;
    
    padding: 5px 0px;
    clear: both;
    background: rgb(28, 157, 167);
    text-align: center;
    color: white;
}